<!DOCTYPE html>
<html lang="en">
<head>
    <%= htmlWebpackPlugin.options.mateTag %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        window.appConfig = {
            Rem: 750, // 字号对应
            MicrosoftCode: 'bd2lt7m40g', // 微软分析
            GoogleCode: 'G-KMV3QH0B9M', // 谷歌分析,
        }
    </script>
    <%= htmlWebpackPlugin.options.script_rem %>
    <%= htmlWebpackPlugin.options.script_Microsoft %>
    <%= htmlWebpackPlugin.options.script_GoogleCode %>
    <%= htmlWebpackPlugin.options.script_zepto %>
</head>

<body>
<div id="app">
    <script type="text/template" id="temp">

    </script>
</div>

</body>

</html>