<!DOCTYPE html>
<html lang="en">
<head>
    <%= htmlWebpackPlugin.options.mateTag %>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.options.script_rem %>
    <%= htmlWebpackPlugin.options.script_Microsoft %>
    <%= htmlWebpackPlugin.options.script_GoogleCode %>
</head>

<body>
<div id="app">
    <%= require('../src/page/index/index.html').default %>
</div>
<%= htmlWebpackPlugin.options.script_zepto %>
</body>

</html>
