<!DOCTYPE html>
<html lang="en">
<head>
    <%= htmlWebpackPlugin.options.mateTag %>
    <%= htmlWebpackPlugin.options.script_rem %>
    <%= htmlWebpackPlugin.options.script_Microsoft %>
    <%= htmlWebpackPlugin.options.script_GoogleCode %>
</head>

<body>
<div id="app">
    <%= require('./component/downloadButton.html').default %>
    <%= require('./index.html').default %>
</div>
<%= htmlWebpackPlugin.options.script_zepto %>
<%= htmlWebpackPlugin.options.script_clipboard %>
<%= process.env.NODE_ENV === 'development' ? htmlWebpackPlugin.options.script_vconsole : '' %>
</body>
</html>
