<!DOCTYPE html>
<html lang="en">
<head><%= process.env.NODE_ENV === 'development' ? htmlWebpackPlugin.options.script_mock : '' %>
  <%= htmlWebpackPlugin.options.script_var %>
  <%= htmlWebpackPlugin.options.script_client %>
  <%= htmlWebpackPlugin.options.mateTag %>
  <%= htmlWebpackPlugin.options.script_rem %>
  <%= htmlWebpackPlugin.options.script_fingerprint %>
  <!-- fb脚本动态注入 -->
  {{land_info.facebook_javascript}}
</head>
<body>
<div id="app" onselectstart="return false;">
  <%= require('./index.html').default %>
  <%= require('./component/downloadButton.html').default %>
</div>
  <%= process.env.NODE_ENV === 'development' ? htmlWebpackPlugin.options.script_vconsole : '' %>
</body>
</html>
