<!DOCTYPE html>
<html lang="en">
<head><%= process.env.NODE_ENV === 'development' ? htmlWebpackPlugin.options.script_mock : '' %>
  <%= htmlWebpackPlugin.options.script_var %>
  <%= htmlWebpackPlugin.options.script_client %>
  <%= htmlWebpackPlugin.options.mateTag %>
  <%= htmlWebpackPlugin.options.script_rem %>
  <%= htmlWebpackPlugin.options.script_fingerprint %>
</head>
<body>
<div id="app">
  <%= require('./index.html').default %>
  <%= require('./component/downloadButton.html').default %>
  <%= require('./component/popup.html').default %>
</div>
  <%= htmlWebpackPlugin.options.script_zepto %>
  <%= htmlWebpackPlugin.options.script_clipboard %>
  <%= process.env.NODE_ENV === 'development' ? htmlWebpackPlugin.options.script_vconsole : '' %>
</body>
</html>
